services:
  listmonk-db:
    image: postgres:17-alpine
    container_name: listmonk-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: listmonk
      POSTGRES_USER: listmonk
      POSTGRES_PASSWORD: ${LISTMONK_DB_PASSWORD}
    volumes:
      - listmonk-data:/var/lib/postgresql/data
    networks:
      - listmonk-internal

  listmonk:
    build: .
    container_name: listmonk
    restart: unless-stopped
    depends_on:
      - listmonk-db
    command: >
      sh -c "./listmonk --static-dir=/listmonk/custom-static --install --idempotent --yes --config '' &&
      ./listmonk --static-dir=/listmonk/custom-static --upgrade --yes --config '' &&
      ./listmonk --static-dir=/listmonk/custom-static --config ''"
    environment:
      TZ: Europe/Stockholm
      LISTMONK_db__host: listmonk-db
      LISTMONK_db__port: 5432
      LISTMONK_db__user: listmonk
      LISTMONK_db__password: ${LISTMONK_DB_PASSWORD}
      LISTMONK_db__database: listmonk
      LISTMONK_db__ssl_mode: disable
      LISTMONK_app__address: 0.0.0.0:9000
    networks:
      - listmonk-internal
      - proxy-net

volumes:
  listmonk-data:

networks:
  listmonk-internal:
  proxy-net:
    external: true
